<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.css}"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Finalizacja zamówienia</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <h3 class="text-center" th:text="'ExtOrderId: ' + ${item.getObject().get('orders').get(0).get('extOrderId')}"></h3>
    <h3 id="status" class="text-center" th:text="'Status: ' + ${item.getObject().get('orders').get(0).get('status')}"></h3>
    <h3 class="text-center" th:text="'ID płatności: ' + ${item.getObject().get('properties').get(0).get('value')}"></h3>
    <h3 class="btn btn-primary"><button onclick="window.location.reload()">Odśwież</button></h3>
</div>

<script>
    $(document).ready(function (){
        let statusText = $('#status').text()
        if (statusText !== 'Status: COMPLETED'){
            window.location.reload();
        }
    })
</script>
</body>
</html>