<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.css}"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Podsumowanie zamówienia</title>
</head>
<body>
<nav th:replace="fragments/header.html :: header"></nav>
<div class="jumbotron jumbotron-fluid text-center">
    <h3>Podsumowanie zamówienia</h3>
</div>
<main class="container container-lg">
    <div class="row">
        <div class="col col-12 bg-light m-3">
            <table class="table">
                <tr>
                    <td>Nr zamówienia: <span th:text="${item.getObject().get('orders').get(0).get('extOrderId')}"></span></td>
                </tr>
                <tr>
                    <td>Status płatności: <span id="status" th:if="${item.getObject().get('orders').get(0).get('status')} == 'COMPLETED'" class="text-success">ZAKOŃCZONA</span><span id="status" th:if="${item.getObject().get('orders').get(0).get('status')} != 'COMPLETED'" class="text-warning">OCZEKUJE</span></td>
                </tr>
                <tr>
                    <td>Nr płatności PayU: <span th:text="${item.getObject().get('properties').get(0).get('value')}"></span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <h5 class="text-center">Zawartość zamówienia</h5>
            <table class="table table-striped">
                <tr th:each="orderItem : ${order.getOrderItems()}">
                    <td th:text="${orderItem.toString()}"></td>
                </tr>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer.html" :: footer></footer>

<script>
    $(document).ready(function (){
        let statusText = $('#status').text()
        if (statusText !== 'ZAKOŃCZONA'){
            setTimeout(function (){
                window.location.reload()
            }, 4000);
        }
    })
</script>
</body>
</html>