<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <meta charset="UTF-8">
    <title>Ekran główny</title>
</head>
<body>

<div class="container">
    <div class="spacing"/>
        <div class="button">
            <p>Opłata za cały rok dla członków koła</p>
        </div>
        <div class="button">
            <p>Opłata za zezwolenie na połów ryb na terenie danego okręgu</p>
        </div>
</div>

</body>
</html>