<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="ordersTableWrapper my-2 mx-auto">
            <table id="ordersTable" class="table table-hover" style="font-size: 0.85rem;">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Data</th>
                        <th>Nr zamówienia</th>
                        <th>Wartość</th>
                        <th>E-mail</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" th:if="${orders.empty}">
                        <td colspan="7">Brak zamówień!</td>
                    </tr>
                    <tr th:if="${orders != null}" class="text-center" th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.date}"></td>
                        <td th:text="${order.orderNumber}"></td>
                        <td th:text="${order.value}"></td>
                        <td th:text="${order.email}"></td>
                        <td th:text="${order.status}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>