body{
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    color: white;
    text-shadow: 1px 1px 1px #555555;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    background-repeat: no-repeat;
    display: flex;
    overflow: hidden;
}

.container{
    width: 1000px;
    height: 100%;
    margin: auto;
}

.button{
    /*   border-color: cornflowerblue; */
    /*   background-color: cornflowerblue; */
    background-color: #80b0ee;
    box-shadow: 2px 2px 3px #555555;
    border-radius: 10px;
    text-align: center;
    margin: 10px 100px;
    padding: 10px;
    height: auto;
    width: auto;

    transition: background-color 500ms;
}

.spacing{
    height: 250px;
    width: 100%;
}

.button:hover{
    background-color: #0060dd;
}
